.draw-card-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.btn {
  background-image: url('./notecard2.jpg');
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  width: 150px;
  height: 35px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;

  }
}